<?xml version="1.0" ?>
 
<!DOCTYPE module PUBLIC
  "-//Checkstyle//DTD Checkstyle Configuration 1.2//EN"
  "https://checkstyle.org/dtds/configuration_1_2.dtd">
 
<module name="Checker">
  <module name="TreeWalker">
    <module name="com.codeaesthetics.PrefixBooleanMethodsCheck" />
    <module name="com.codeaesthetics.HungarianNotationCheck" />
    <module name="com.codeaesthetics.VerbsInInfinitiveCheck" />

    <module name="com.codeaesthetics.PublicMethodAnnotationsCheck">
      <property name="classSuffixes" value="Serice,Srvc"/>
      <property name="requiredAnnotations" value="Deprecated,SuppressWarnings"/>
    </module>

  </module>
</module>